@charset "utf-8";
@import './include-media';

$vw_base: 750; 
$rem_fontSize: 28;
@function vw($px) {
  @return ($px / $vw_base) * 100vw;
}

@function rem($px) {
  @return ($px / $rem_fontSize) * 1rem;
}

*,*:before,*:after{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica,Arial;
}